<!DOCTYPE html>
<html>

<head>
  <title> Museos </title>
  <meta charset="utf-8">
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">

    <header>
	  <div id="strapline">
	    <div id="welcome_slogan">
	      <h3><span>Museos</span></h3>
	    </div><!--close welcome_slogan-->
      </div><!--close strapline-->
	  <nav>
	    <div id="menubar">
          <ul id="nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/museos">Todos</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--close menubar-->
      </nav>
    </header>

   

  <div id="site_content">

	  <div id="content">
        <div class="content_item">
		  <h1>Práctica realizada por:  <b>María de los Ángeles Calderón Velasco, ITT.</b></h1>
      <p></p>
      <h2> Funcionalidad: </h2>
      Recursos:
      <ul>
        <li> "/" : Página principal de la practica, mostrará un listado de los museos más comentados, así como un enlace a otras páginas personales. </li>
        <li> "/usuario" : Página personal del usuario. Muestra los museos seleccionados por el usuario. </li>
        <li> "/museos" : Página con todos los museos disponibles con un enlace a su página dentro de la aplicacion. </li>
        <li> "/museos/id" : Pagina de un museo específico dentro de la aplicacion, mostrando diversa información sobre el museo. </li>
        <li> "/usuario/xml" : Canal XML para los museos elegidos por ese usuario. </li>
        <li> "/about" : Página HTML que explica la funcionalidad de la practica así como autoria. </li>
      </ul>
		</div><!--close content_container-->

		</div><!--close content_item-->
      </div><!--close content-->
	</div><!--close site_content-->

    <footer>
      Práctica realizada por: María de los Ángeles Calderón Velasco, ITT. <br>
      Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid : <a href="https://datos.madrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=201132-0-museos&mgmtid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&preview=full"> ver XML </a>
    </footer>

  </div><!--close main-->

  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>

</body>
</html>
