<!DOCTYPE html>
<html>

<head>
  <title> Museos </title>
  <meta charset="utf-8">
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">

    <header>
	  <div id="strapline">
	    <div id="welcome_slogan">
	      <h3><span>Museos</span></h3>
	    </div><!--close welcome_slogan-->
      </div><!--close strapline-->
	  <nav>
	    <div id="menubar">
          <ul id="nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/museos">Todos</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--close menubar-->
      </nav>
    </header>



  <div id="site_content">
    <div class="sidebar_container">
    <div class="sidebar">
          <div class="sidebar_item">
            <h2>Páginas de Usuario : </h2>
            <ul>
              {% for config in tds_config %}
                {% if config.titulo == "default" %}
                  <li><a href="/{{config.usuario.username}}"> Pagina de {{config.usuario.username}}</a></li>
                {% else %}
                  <li><a href="/{{config.usuario.username}}"> {{config.titulo}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!--close sidebar_item-->
        </div><!--close sidebar-->
    <div class="sidebar">
          <div class="sidebar_item">
            {% if user.is_authenticated %}
            <h2>  Eres: <a href="/{{user}}"> {{user.username}} </a> <a href="logout/"> LOGOUT </a> </h2>
            {% else %}
              <h2>Identifícate : </h2>
              <form action="login/" method="POST">
              <p>Nickname: <input type="text" name="login" value="" placeholder="Username" autocomplete="off"></p>
              <p>Password: <input type="password" name="password" value="" placeholder="Password" ></p>
              <input type="submit" value="Enviar"/>
            </form>
            {% endif %}
      </div><!--close sidebar_item-->
        </div><!--close sidebar-->

    <div class="sidebar">
      {% if user_act.is_authenticated %}
      {% if user_act == user_config.usuario %}
      <h2> Configuración de página: </h2>
      <form method="POST" action="">
        Cambia tu título de página:
        <input type="text" size="15" maxlength="50" value="Titulo de la pagina." name="newTitle" autocomplete="off"/>
        <p></p>
        <input type="submit" value="Submit"/>
      </form>
      <p></p>
      <form method="POST" action="">
          {% csrf_token %}
        Cambia el color del CSS:
        <select name = "backgroundSelected">
        <optgroup label="Paleta:">
            <option value="None">-</option>
            <option value="Red">Rojo</option>
            <option value="Green">Verde</option>
            <option value="Blue">Azul</option>
          </optgroup>
        </select>
          <p></p>
        <input type="submit" value="Submit">
        </form>
        <p></p>
      <form method="POST" action="">
        Cambia el tamaño de la letra:
        <select name = "letterSize">
        <optgroup label="Anchura:">
            <option value="None">-</option>
            <option value="10">10 ppx</option>
            <option value="20">20 ppx</option>
          </optgroup>
        </select>
        <p></p>
        <input type="submit" value="Submit"/>
            </form>
            {% endif %}
            {% endif %}
          <p></p>
      <a href="/{{user.username}}/xml"> Ver XML </a>
      </div><!--close sidebar_item-->
        </div><!--close sidebar-->

	  <div id="content">
        <div class="content_item">
		  <h1>{% if user_config.titulo == "default" %}
        <li><a href="/{{user_config.usuario}}"> Pagina de {{user_config.usuario}}</a></li>
      {% else %}
        <li><a href="/{{user_config.usuario}}"> {{user_config.titulo}}</a></li>
      {% endif %}</h1>
        {% for selec, fecha in auxs %}
        Nombre : <a href="{{selec.url}}"> {{selec.nombre}} </a>
          <li>Dirección : <b>{{selec.direccion}}</b></li>
          <li>Fecha seleccion : <b>{{fecha}}</b></li>
          <li><a href="/museos/{{selec.id}}"> + Información </a> </li>
        {% endfor %}
        </ul>

		</div><!--close content_item-->
      </div><!--close content-->
	</div><!--close site_content-->

  <footer>
     Práctica realizada por:  María de los Ángeles Calderón Velasco, ITT. <br>
     Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid : <a href="https://datos.madrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=201132-0-museos&mgmtid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&preview=full"> ver XML </a>
  </footer>

  </div><!--close main-->

  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>

</body>
</html>
